/*
* This file has nothing to do with Bouledogue itself.
* It adds a few rules to the presentation page.
*/

@media (min-width: 550px) {
  #app {
    padding-top: 20vh;
  }
}

.borderFooter {
  justify-content: center;
  width: 70vw;
  border-top: solid 2px rgb(235, 245, 223);
  border-radius: 5%;
}
@media (min-width: 550px) {
  .borderFooter {
    width: 35vw;
  }
}
