// Delays
@each $name, $delay in $animationDelays {
  .#{$name} {
    animation-delay: $delay !important;
  }
}

// Crappy hack to get the parent div to not overflow
.animated {
  overflow: hidden;
}

// Fades
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate.fade-in {
  animation: fade $fadeDuration ease-in-out $fadeDelay 1 both;
}

.animate.fade-out {
  animation: fade $fadeDuration ease-in-out $fadeDelay 1 reverse both;
}

// Horizontal slides
/// Slides left
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-$slideX);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.animate.slideFromLeft {
  animation: slideLeft $slideDuration ease-out $slideDelay 1 both;
}

.animate.slideToLeft {
  animation: slideLeft $slideDuration ease-in $slideDelay 1 reverse both;
}

/// Slides right
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX($slideX);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.animate.slideFromRight {
  animation: slideRight $slideDuration ease-out $slideDelay 1 both;
}

.animate.slideToRight {
  animation: slideRight $slideDuration ease-in $slideDelay 1 reverse both;
}

// Vertical Slides
/// Slide top
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-$slideY);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.animate.slideFromTop {
  animation: slideTop $slideDuration ease-out $slideDelay 1 both;
}

.animate.slideToTop {
  animation: slideTop $slideDuration ease-in $slideDelay 1 reverse both;
}

/// Slide bottom
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY($slideY);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.animate.slideFromBottom {
  animation: slideBottom $slideDuration ease-out $slideDelay 1 both;
}

.animate.slideToBottom {
  animation: slideBottom $slideDuration ease-in $slideDelay 1 reverse both;
}

// Pulse
/// Slow Pulse from top

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(0.5, 1);
  }
  50% {
    transform: scale(2, 1);
    opacity: 0.8;
  }
  80% {
    transform: scale(0.5, 1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hover.slow.pulseFromTop {
  transform-origin: top center;
  animation: pulse $pulseSlowDuration alternate infinite;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
  }
}
