/* Palette de couleur : https://coolors.co/0d1821-caffd0-89bbfe-df2935-f58a07 */
$primary: map-get($colors, "primary");
$secondary: map-get($colors, "secondary");
$text: map-get($colors, "text");
$danger: map-get($colors, "danger");
$background: map-get($colors, "background");
$light: map-get($colors, "light");
$dark: map-get($colors, "dark");

@mixin color-variant($value) {
  color: $value;
}

@each $color, $value in $colors {
  .#{$color} {
    @include color-variant($value);
  }
}
