@import "../node_modules/systematize/systematize.scss";
@import "./skeleton.css";
@import "./styles/variables.scss";
@import "./styles/colors.scss";
@import "./styles/buttons.scss";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&display=swap");

body {
  font-family: $fonts;
  background-color: $background;
  color: $text;
}
