@import "~systematize/systematize.scss";
@import "skeleton";
@import "variables";
@import "colors";
@import "animations";
@import "buttons";
@import "footer";
@import "header";
@import "app";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700&display=swap");

body {
  font-family: $fonts;
  background-color: $background;
  color: $text;
}
