.flex {
  display: flex;
}
.f-column {
  flex-direction: column;
}
.f-column-reverse {
  flex-direction: column-reverse;
}
.f-row {
  flex-direction: row;
}
.f-row-revese {
  flex-direction: row-reverse;
}
.f-spa-eve {
  justify-content: space-evenly;
}
.f-spa-bet {
  justify-content: space-between;
}
.f-spa-aro {
  justify-content: space-around;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-wrap-rev {
  flex-wrap: wrap-reverse;
}
.w-100 {
  width: 100%;
}
