$colors: (
  "primary": rgb(137, 187, 254),
  "secondary": rgb(245, 138, 7),
  "text": rgb(235, 245, 223),
  "danger": rgb(223, 41, 53),
  "background": rgb(13, 24, 33),
  "light" : rgb(230, 230, 230),
  "dark" : rgb(5,5,5)
);

$btn: (
    "s": (
        "padding" : 2px,
        "font-size": 0.7rem,
        "height" : 20px,
        "border-radius" : 5px
    ),
    "l": (
        "padding" : 7px,
        "font-size": 1.5rem,
        "height" : 70px,
        "border-radius" : 10px
    ),
    "xl": (
        "padding" : 10px,
        "font-size": 2rem,
        "height" : 90px,
        "border-radius" : 15px
    )
);

$breakpoint-xs : 500px;
$breakpoint-s : 700px;
$breakpoint-l : 1000px;
$breakpoint-xl : 1300px;